* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 40px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.color {
  color: #860000;
}

button {
  color: grey;
}